ul.annotation-tools {
  list-style-type: none;
  display: flex;
}

ul.annotation-tools li {
  cursor: pointer;
}

ul.annotation-tools li:hover {
  background-color: #eee;
}

ul.annotation-tools li.active {
  outline: 2px solid;
}

.ml20 {
  margin-left: 20px;
}
